@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: Aeonik;
  src: url("../src/assets/fonts/fonnts.com-Aeonik-Bold.ttf");
}
@font-face {
  font-family: Aeonikreg;
  src: url("../src/assets/fonts/fonnts.com-Aeonik-Regular.ttf");
}

@import "tailwindcss";


@theme{
  --font-aeonik: Aeonik, "sans-serif";
  --font-aeonikreg: Aeonikreg, "sans-serif";
  --font-montserrat: Montserrat, "sans-serif";
  
  --color-brand-green: #B6FF5E;
  --color-brand-black: #0a0a0a;
  --color-brand-gray: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-brand-gray);
  color: var(--color-brand-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-brand-green);
  color: black;
}