@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: Aeonik;
  src: url("../src/assets/fonts/fonnts.com-Aeonik-Bold.ttf");
}
@font-face {
  font-family: Aeonikreg;
  src: url("../src/assets/fonts/fonnts.com-Aeonik-Regular.ttf");
}

@import "tailwindcss";


@theme{
  --font-aeonik: Aeonik, "sans-serif";
  --font-aeonikreg: Aeonikreg, "sans-serif";
  --font-montserrat: Montserrat, "sans-serif";
  
  --color-brand-green: #B6FF5E;
  --color-brand-black: #000000;
  --color-brand-card: #0d0d0d;
  --color-brand-gray: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-brand-black);
  color: var(--color-brand-gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-brand-green);
  color: black;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}